node_modules/

dist/

KData/JSON/

src/FrontEnd/AllTables
src/FrontEnd/FirstTable
src/FrontEnd/assets/static/DataSchema
src/FrontEnd/assets/static/js/pagesForAllTables

.env

.vscode

.log

binV4/

defineConfig.js
